
h2{
    color: #E34544;
}
form img{
    height: 45px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}
a{
    text-decoration: none;
    color: #E34544;
}
p{
    color: white;
}
.forminfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1 h2{
    margin-top: 2em;
}
#formitem label{
    display: block;
    direction: ltr;
}
#formitem input{
    margin-bottom: 35px;
    direction: unset;
}
body{
    background-color: #2A2A2A;
}
.container{
    width: 400px;
    max-width: 400px;
}
#formitem input:focus{
    border-color:rgb(18, 211, 211);
    background-color: #ffffff;
}
.form__button:active{
    transform: scale(0.98);
}
.form__input--error{
    color: red;
    border-color: red;
}
.form__input-error-message{
    color: red;
}
.form__message--error{
    color: red;
}