*{
    background-color: grey;
   
}

.navbar{
    float: right;
    color: rgb(243, 92, 142)
    }

ul li{
     display: inline;
     text-decoration: none;
     margin-right: 2em;
}

.intro{
    text-align: center;
    align-items: center;
    padding-top: 60px;
    justify-items: center;
    color: navy;
    margin-top: 3em;
}
h3{
    justify-items: center;
    color: rgb(243, 92, 142);
    text-shadow: black;
}

.description1{ 
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
    margin-top: 5em;
}

.description2{ 
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

.description3{ 
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

.description4{ 
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

.requirements1{
    color: navy;
}
 
.requirements2{
    color: navy;
}


.requirements3{
    color: navy;
}

.requirements4{
    color: navy;
}




    
    
    
