* {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    display: flex;
    font-family: 'EBGaramond', serif;
    font-family: 'Fruktur', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 60%;
    float: right;
}

ul a {
    text-decoration: none;
    color: #090A21;
}

ul {
    display: flex;
    justify-content: right;
    text-align: center;
}

ul li {
    list-style: none;
}

li a:hover {
    text-decoration: underline 5px #E34544;
    transition: all ease-in-out 250ms;
}