* {
    margin: 0;
    width: 100%;
    font-family: 'EBGaramond', serif;
    font-family: 'Fruktur', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
}


/* 
.navbar {
    display: flex;
    width: 70%;
    font-family: 'EBGaramond', serif;
    font-family: 'Fruktur', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    float: right;
}

ul a {
    text-decoration: none;
    color: #090A21;
}

ul {
    display: flex;
    justify-content: right;
    text-align: center;
}

ul li {
    list-style: none;
    padding: 3rem;
    font-weight: 900;
    font-size: large;
}
*/

.navbar-nav a:hover {
    text-decoration: underline 5px #E34544;
    transition: all ease-in-out 250ms;
}

.training {
    display: flex;
    padding-top: 3rem;
}


/*side bar css*/

.side-bar {
    width: 30%;
    background-color: #090A21;
    border-radius: 20px;
    /* position: relative;
    top: -10rem; */
    height: 70vh;
    padding: 1rem;
    padding-top: 2rem;
    overflow: auto;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.intro {
    color: #E34544;
    padding-bottom: 1.5rem;
}

.intro h4 {
    padding-left: 8rem;
    padding-bottom: 1rem;
    font-size: 20px;
}

span {
    color: #E34544;
}

.intro p {
    font-size: 20px;
}

.subtitle-img-row {
    margin-bottom: 15px;
    border-radius: 6px;
    background: rgb(227, 69, 68);
    background: linear-gradient(90deg, rgba(227, 69, 68, 1) 0%, rgba(124, 42, 51, 1) 47%, rgba(111, 38, 49, 1) 53%, rgba(9, 10, 33, 1) 100%);
    width: 300px;
}

.subtitle-img {
    position: relative;
}

.subtitle-img-row span {
    color: white;
    position: relative;
    bottom: 15px;
}

.subtitle-img img {
    width: 60px;
}

#sub-play {
    width: 35px;
    position: absolute;
    top: 14%;
    left: 8%;
    cursor: pointer;
}


/*display*/

.display {
    padding-left: 3rem;
    width: 60%;
    height: 100vh;
}

.slog h2 {
    font-size: 40px;
}

.slog p {
    padding-left: 10rem;
    position: relative;
    bottom: 2.5rem;
    font-weight: 600;
    line-height: 20px;
}

.sub-head {
    padding-top: 2rem;
    text-decoration: underline 5px #E34544;
    padding-bottom: 2rem;
    display: flex;
    padding-left: 1rem;
}

#videoplay {
    width: 80%;
}


/*display video*/

.card h3 {
    color: #090A21;
}