* {
    margin: 0;
    padding: 0;
    font-family: 'EBGaramond', serif;
    font-family: 'Fruktur', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
}

.navbar {
    display: flex;
    font-family: 'EBGaramond', serif;
    font-family: 'Fruktur', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    padding-bottom: 1rem;
    float: right;
}

ul a {
    text-decoration: none;
    color: #090A21;
}

ul {
    display: flex;
    justify-content: right;
    text-align: center;
}

ul li {
    list-style: none;
    padding: 3rem;
    font-weight: 900;
    font-size: large;
}

li a:hover {
    text-decoration: underline 5px #E34544;
    transition: all ease-in-out 250ms;
}

.intro {
    padding: 3rem;
}

#display {
    width: 60%;
    margin: 0 auto;
}

#play {
    position: absolute;
    top: 52%;
    left: 10%;
    width: 60px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    min-width: 50%;
}

.main-img {
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.subtitle-img-row {
    display: flex;
    margin: 15px;
    width: 65%;
    align-items: center;
    border-radius: 6px;
    background-color: #090A21;
    overflow: hidden;
}

.subtitle-img {
    position: relative;
}

.subtitle-img-row p {
    margin-left: 20px;
    color: #E34544;
}

.subtitle-img img {
    width: 100px;
}

#sub-play {
    width: 35px;
    position: absolute;
    top: 30%;
    left: 35%;
}